[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"
pytest = "*"
fabric = "*"
wheel = "*"
twine = "*"
bumpversion = "*"

[packages]
pandas = "*"
numpy = "*"
python-box = "*"
sqlalchemy = "*"
geojson = "*"
shapely = "*"
geoalchemy2 = "*"
requests = "*"
python-log-indenter = "*"
wrapt = "*"
diskcache = "*"
checksumdir = "*"
colorlog = "*"
python-telegram-bot = "*"
pyproj = "*"
gdal = "<=2.4.3"
joblib = "*"
scipy = "*"
opencv-python = "*"
geopandas = "*"

[requires]
python_version = "3.6"
