[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
geojson = "==2.5.0"
python-telegram-bot = "==12.1.0"
pyproj = "==2.3.1"
geoalchemy2 = "==0.6.3"
pytest = "==5.1.2"
checksumdir = "==1.1.7"
numpy = "==1.17.2"
wrapt = "==1.11.2"
python-box = "==3.4.3"
joblib = "==0.13.2"
matplotlib = "==3.1.1"
requests = "==2.22.0"
invoke = "==1.3.0"
fabric = "==2.5.0"
geojsonio = "==0.0.3"
diskcache = "==4.1.0"
colorlog = "==4.0.2"
pandas = "==0.25.1"
python-dateutil = "==2.8.1"
telegram = "==0.0.1"
typing = "==3.7.4.1"
SQLAlchemy = "==1.3.8"
python_log_indenter = "==0.9"
Shapely = "==1.6.4.post2"
GDAL = "==2.4.3"

[requires]
python_version = "3.6"
